<!DOCTYPE html>
<html>
<head>
<style>
 
 
header {
  background-color: rgb(162, 100, 237);
  color: white;
  border: 3px solid black;
  text-align: center;
  margin: 20px;
  padding: 8px;
}
 
 
.card {
  background-color: cornflowerblue;
  color: white;
  border: 3px solid black;
  text-align: center;
  margin: 10px;
  padding: 8px;
  width: 100px;
  height: 75px;
  float:left
}
</style>
<header>
    <h2>Spanish Learning Card Game</h2>
    <h4>Language: {{ Language }} &nbsp; &nbsp;  Difficulty: {{ Difficulty }}</h4>
    <h4>Guesses: {{ guess }} &nbsp; &nbsp;  Score: {{ score }}</h4>
</header>
<body>
 
 
<div class="card">
<h2>{{ words[0] }}</h2>
</div>
 
<div class="card">
<h2>Gato</h2>
</div>
 
<div class="card">
<h2>{{ words[1] }}</h2>
</div>
 
<div class="card">
<h2>english</h2>
</div>
 
<div class="card">
<h2>{{ bank[2] }} </h2>
</div>
 
<div class="card">
<h2>Sol</h2>
</div>
 
<div class="card">
<h2>{{ bank[3] }}</h2>
</div>
 
<div class="card">
<h2>Luna</h2>
</div>
 
<div class="card">
<h2>{{ bank[4] }}</h2>
</div>
 
<div class="card">
<h2>Playa</h2>
</div>
 
 
</body>
</html>
