<!DOCTYPE html>
<html>
<head>
<style>
 
 
header {
  background-color: rgb(162, 100, 237);
  color: white;
  border: 3px solid black;
  text-align: center;
  margin: 20px;
  padding: 8px;
}
 
 
.card {
  background-color: cornflowerblue;
  color: white;
  border: 3px solid black;
  text-align: center;
  margin: 10px;
  padding: 8px;
  width: 100px;
  height: 75px; 
  float:left 
}

</style>
<header>
    <h2>Learning Card Game</h2>
    <h4>Language: {{ Language }} &nbsp; &nbsp;  Difficulty: {{ Difficulty }}</h4>
    <h4>Guesses: {{ guess }} &nbsp; &nbsp;  Score: {{ score }}</h4>
</header>
<body>

<button name = "1">
  <div class="card">
    <h2>{{ english[0] }}</h2>
  </div>  
</button>
 
<button name = "2">
  <div class="card">
    <h2>{{ english[1] }}</h2>
  </div>
</button>

<button name = "3">
  <div class="card">
    <h2>{{ english[2] }}</h2>
  </div>  
</button>

<button name = "b4">
  <div class="card">
    <h2>{{ english[3] }}</h2>
  </div>   
</button>

<button name = "b5">
  <div class="card">
    <h2>{{ english[4] }} </h2>
  </div> 
</button>

<button name = "b6">
  <div class="card">
    <h2>{{ spanish_words[0] }}</h2>
  </div>   
</button>
 

<button name = "b7">
  <div class="card">
    <h2>{{ spanish_words[1] }}</h2>
  </div>
 
<button name = "b8">
  <div class="card">
    <h2> {{ spanish_words[2] }}</h2>
  </div>  
</button>

<button name = "b9">
  <div class="card">
    <h2>{{ spanish_words[3] }}</h2>
  </div>  
</button>


<button name = "b10">
  <div class="card">
    <h2>{{ spanish_words[4] }}</h2>
  </div>   
</button>
 
<div class="inputLD">
  <input type="submit" value="Submit">
</div>

<script>
  $(document).ready(function(){
      $(':button[name=numbers]').click(function() {
        // var number_of_clicks = 0;
        var click = $(this).val();
        // number_of_clicks++;
        $('#field').val($('#field').val() + click);
        });
  });
</script>

</body>
</html>
