

<!DOCTYPE html>
<html>
<head>
<style>
 
header {
  background-color: rgb(162, 100, 237);
  color: white;
  border: 3px solid black;
  text-align: center;
  margin: 2px;
  padding: 20px;
}
 
.inputLD {
  background-color: cornflowerblue;
  color: white;
  border: 3px solid black;
  text-align: center;
  margin: 2px;
  padding: 0.5px;
}
 
</style>
<header>
    <h2>Spanish learning Card Game</h2>
</header>
<body>
 
<div class="inputLD">
<h3>Please Input your Language and Difficulty preference</h3>
</h3>
<form action="Beginning Input(L/D)">
  <label for="Language">Choose your preferred Language from the list:</label>
  <select name="Language" id="Language">
      <option value="Spanish">Spanish</option>
      <option value="French">French</option>
  </select>
  <br>
  <br>
  <label for="Difficulty">Choose your preferred Difficulty from the list:</label>
  <select name="Difficulty" id="Difficulty">
      <option value="Easy">Easy</option>
      <option value="Medium">Medium</option>
      <option value="Hard">Hard</option>
  </select>
  <br>
  <input type="submit" value="Submit">
</form>
</div>
 
 
</body>
</html>